.buttons {
    display: flex;
    max-width: 100%;
    /* gap: 60px; */
    justify-content: center;
}

.table-button {
    margin: auto;
    margin-top: 25px;
    padding: 10px 30px;
    color: #ECECEC;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

.back {
    background-color: #FF3838;
    margin: 10px;
}

.update {
    background-color: #332272;
    margin: 10px;
}

@media (max-width: 975px) {
    .table-button{
      font-size: 18px;
      padding: 10px;
    }
  }