.table-top {
  display: flex;
  justify-content: space-between;
}

.userinfo {
  padding: 20px 0px 2px 40px;
}

.username {
  display: inline-block;
  margin: 0px;
  font-size: 30px;
  color: black;
}

.username::first-letter {
  font-size: 64px;
}

.table {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

table {
  width: 92%;
}

table,
th,
td {
  border-collapse: collapse;
  border-radius: 1px;
}

td {
  padding: 21px 22px;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

th {
  background-color: #332272;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 21px 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.buttons {
  margin-top: 10%;
}

@media (max-width: 975px) {
  .table {
    overflow: auto;
    display: block;
    margin: 5px;
  }
}

@media (max-width: 500px) {
  .userinfo {
    padding: 20px 0px 2px 10px;
  }

  .username {
    font-size: 18px;
  }

  .username::first-letter {
    font-size: 40px;
  }

  .logoimage {
    height: 50px;
  }

  td {
    padding: 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }

  th {
    background-color: #332272;
    color: white;
    font-size: 17px;
    margin: 0;
    padding: 10px;
    justify-content: start;
  }
}

.no-entry{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: red;
  width: 100vw;
  padding: 20px 100px;
  
}