/* App.css */
.app {
  display: flex;
  height: 100vh;
  max-width: 100%;
}

.left-half {
flex: 0 0 57%;
 width: 65%;
}

.right-half {
  flex: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
}



.heading {
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}
