
/* import BackgroundImage from './assets/Background.png'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  display: flex;
  height: 100vh;
  max-width: 100%;
}



.heading {
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}


/* Left Half Start */

.left-half {

  width: 65%;
}

.left-half-content {
  height: 100vh;
  background-image: url('../public/assets/Background.png');
  background-size: cover;
  background-position: left;
}

.data {

  color: white;
  padding: 40px;
}

.data h2 {
  font-size: 4.3rem;
  font-weight: 900;
}

.data p {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0;
  margin-top: 10px;
  width: 43%;
  font-family: roboto;
}

.covidimage {

  width: 100%;
  height: 100vh;
  filter: brightness(0.7);
}


/* right half */
.right-half {
  flex: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.logoimage {
  height: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
}

h4 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.form-label {
  flex: 1;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
  margin-left: 15%;
  color: rgb(36, 34, 34);
}

.form-input {
  margin-top: 6px;
  flex: 2;
  width: 79.5%;
  height: 38px;
  border: none;
  padding: 8px;
  background-color: #ECECEC;
  border-radius: 5px;
}

.form-input::placeholder {
  padding: 10px;
  font-size: 16px;
}

.form-button {

  flex: 1;
  width: 70%;
  margin-top: 20px;
  padding: 20px 10px;
  color: #ECECEC;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin-left: 15%;
  cursor: pointer;
}

.form-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.stats {
  margin-top: 35px;
  background-color: #332272;
  margin-bottom: 10px;
}

.reset {
  background-color: #FF3838;
}


@media (max-width: 768px) {
  .left-half {
    display: none;
  }

  h4 {
    display: block;
  }
}


/* Loader Css */

.loader--ring {
  display: inline-block;
  position: fixed;
  top: 40%;
  left: 49%;
  height: 200px;
  width: 200px;
}

.loader--ring div {
  display: block;
  position: absolute;
  animation: loader--ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 6px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  border-color: #00539f transparent transparent transparent;
  margin: 6px;
  height: 70px;
  width: 70px;
}

.loader--ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader--ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader--ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader--ring {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}